.counter__box {
    width: 500px;
    height: 400px;
    border: 2px solid #5e19f2e8;
    margin: 120px auto;
    font-family: "Helvetica";
    text-align: center;
}

.counter__count{
    width: 150px;
    height: 60px;
    border: 2px solid coral;
    margin: 60px auto;
    font-size: 40px;
    align-content: center;
}

.coutner__button {
    padding: 10px 25px;
    font-size: large;
}